/*Cytus II Theme*/

.background
{
  background-color:black;
}

.container
{
  height:645px;
  width:1435px;
  padding-top:20px;
  margin-top:-10px;
  margin-left:-3px;
  background-color:gray; 
}

.select
{
  height:600px;
  width:200px;
  background-color: purple;
  border-radius: 10px;
}

.container2
{
  height:80px;
  width:1395px;
  margin-left:-3px;
  padding-left:40px;
  background-color: yellow;
}

.back
{
  background-image: url(images/backbutton.png);
  height: 90px;
  width: 90px;
  background-size: contain;
}

.spacer
{
  float:left;
  margin-left:5%;
}

.marginl
{
  float:left;
  margin-left:5%;
}

.cpage
{
  height: ; 
  width: ;
  background-color: ;
  color: ;
}